body{
    background-color: #010101;
    
}
nav{
display: flex;
align-items:center ;
justify-content: space-between;
padding: 10px 10rem;
color: #E3E4E6; 

}
nav span{
    color: #BC3CD8;
    font-size: 35px;
    font-family:sans-serif;
}
ul{
display: flex;
gap: 4rem;
}
li{
  list-style: none;
}
li:hover{
  color:#BC3CD8;
  border-bottom: 2px solid white;
}


/* .....Uppers section styles */
.upper-section{
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.upper-section h1{
    margin-top: 12%;
    font-size: 3rem;
    width: 60%;
    text-align: center;
}
.upper-section h1 span{
    color: white;
    
}
.upper-section .fa-angle-down{
    color: white;
    font-size: 3rem;
    
}